html, body, main{
    margin: auto;
    height: 100%;
    background-color: #eeecd4;
    place-content: center;
    font-family:Segoe UI;
}



main>div{display:block;
    margin: auto;
    padding: 5vh 0;
    width: 80vw;
    height: fit-content;
    border-radius: 10vw;
   background-color: #FFFCD6;
   place-content: center;
   box-shadow: 1vw 1vw 1vw darkgray;}

main>div>section{
   
    float: left;
    width: 50%;
    text-align: center;
    font-size: 2vh;

    
}
   main>div>section>img{
    width: 70%;
}

form{
   
    float: right;
    width: 40%;
    margin-top: 20vh;
    margin-right: 5vw;
}



form>label, input{
    display: block;
    text-align: center;
    font-size: 3vh;
  
 
}


input{
    height: 5vh;
    width: 100%;
    border: 2px solid #3f642a;
    border-radius: 20vh;
    box-shadow: 3px 3px 2px lightgrey;
    font-size: 2vh;
}

input[type=submit]{
    width:fit-content;
    float: right;
    background-color: #3f642a;
    color: white;
    margin:  2vh 0;
    padding: 0 2vw;
}
input[type=submit]:hover{
    background-color: #345422;

}


#message>a{
    color: #3f642a;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width: 1000px){

   
    main>div{
        display: block;
        height: fit-content;
        width: 90%;
        place-items: center;
        
    }

    main>div>section{
    position: static;
    float: none;
    padding: 0;
    width: 50%;
    align-content: center;
}

div>section>img{
    width: 50%;

}



form{
    position: static;
    float: none;
    padding: 0;
    margin-top: 10vw;
    margin-right: 0;
    width: 80%;
    align-content: center;
    
   
}

   
 #message{
     font-size: 3vw;
    margin-top: 10%;
}
#message>a{
    white-space: pre;
}
    

    input{
    height: 5vh;
    width: 100%;
    border: 2px solid #3f642a;
    border-radius: 20px;
    box-shadow: 3px 3px 2px lightgrey;
    font-size: 2vh;
}
    

    input[type=submit]{
        margin: 10% 0;
        width: 50%;
    float: none;
    place-self: center;
}
   
}













